body {
    font-family: 'Arial', sans-serif;
    padding: 0;
    margin: 0;
  }
  
  h1 {
    text-align: center;
    padding-bottom: 20px;
    color: #964B00;
  }
  
  h2 {
    color: burlywood;
  }
  
  .gallery {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .item {
    display: grid;
    justify-content: flex-start;
    width: 40%;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  .thumbnail {
    transition: transform 0.3s;
    width: 150px;
    height: 150px;
    border-radius: 35px;
    padding: 10px;
    cursor: pointer;
  }
  
  .thumbnail:hover {
    transform: scale(1.1);
  }
  
  #modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
  }
  
  #modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 90%;
    max-height: 90%;
    transform: translate(-50%, -50%);
  }
  
  #modal-close-button {
    position: absolute;
    top: 5px;
    right: 15px;
    color: #EDEADE;
    font-size: 30px;
    cursor: pointer;
  }