body {
    font-family: 'Helvetica', sans-serif;
    background-color: #1755A6;
    color: #080559;
  }
  
  #input-container {
    display: flex;
    flex-direction: column;
    padding: 0 20px 30px 20px;
    border-radius: 25px;
    background-color: #F2A81D;
    margin: 20px;
    max-width: 500px;
  }
  
  #output-container {
    display: flex;
    flex-direction: column;
    padding: 0 20px 30px 20px;
    border-radius: 25px;
    background-color: #F2620F;
    margin: 20px;
    max-width: 500px;
  }
  
  label {
    display: block;
    margin: 10px 0 0 20px;
    font-weight: bold;
  }
  
  #output {
    margin: 20px;
  }
  
  input, textarea {
    box-sizing: border-box;
    width: 85%;
    margin: 0 20px;
    padding: 10px;
    font-size: 18px;
    border: solid 2px #080559;
    border-radius: 5px;
    color: #080559;
  }
  
  input:focus, textarea-focus {
    border: solid 2px #080559;
    outline: none;
  }
  